<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.azbrain.dao.ConsultationLogMapper">
    <resultMap id="BaseResultMap" type="com.blueocean.azbrain.model.ConsultationLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="by_user_id" jdbcType="INTEGER" property="byUserId"/>
        <result column="topic_id" jdbcType="INTEGER" property="topicId"/>
        <result column="way" jdbcType="VARCHAR" property="way"/>
        <result column="cdate" jdbcType="DATE" property="cdate"/>
        <result column="week" jdbcType="INTEGER" property="week"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="start_time" jdbcType="TIME" property="startTime"/>
        <result column="end_time" jdbcType="TIME" property="endTime"/>
        <result column="week" jdbcType="INTEGER" property="week"/>
        <result column="user_evaluated" jdbcType="INTEGER" property="userEvaluated"/>
        <result column="by_user_evaluated" jdbcType="INTEGER" property="byUserEvaluated"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="meeting_pwd" jdbcType="VARCHAR" property="meetingPwd"/>

        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="by_user_name" jdbcType="VARCHAR" property="byUserName"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, by_user_id, topic_id, way, cdate, week, code, start_time, end_time, create_time, last_updated,
        mobile, meeting_pwd, user_evaluated, by_user_evaluated, status
    </sql>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
            azbrain_user_consultation_log
        where
            id = #{id,jdbcType=INTEGER}
    </select>

    <select id="myConsult" resultMap="BaseResultMap">
        SELECT
            l.id,
            l.topic_id,
            l.way,
            l.cdate,
            l.week,
            l.code,
            l.start_time,
            l.end_time,
            l.create_time,
            l.mobile,
            l.meeting_pwd,
            u.name AS by_user_name
        FROM
            azbrain_user_consultation_log l
        INNER JOIN
            azbrain_user u
        ON
            l.by_user_id = u.id
        WHERE
            l.user_id = #{userId}
    </select>

    <select id="consultMe" resultMap="BaseResultMap">
        SELECT
            l.id,
            l.topic_id,
            l.way,
            l.cdate,
            l.week,
            l.code,
            l.start_time,
            l.end_time,
            l.create_time,
            l.mobile,
            l.meeting_pwd,
            u.name AS user_name
        FROM
            azbrain_user_consultation_log l
        INNER JOIN
            azbrain_user u
        ON
            l.user_id = u.id
        WHERE
            l.by_user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.blueocean.azbrain.model.ConsultationLog">
        insert into azbrain_user_consultation_log (
            user_id,
            by_user_id,
            topic_id,
            way,
            cdate,
            week,
            code,
            start_time,
            end_time,
            create_time,
            last_updated,
            mobile,
            meeting_pwd,
            user_evaluated,
            by_user_evaluated,
            status)
        values (
            #{userId,jdbcType=INTEGER},
            #{byUserId,jdbcType=INTEGER},
            #{topicId,jdbcType=INTEGER},
            #{way,jdbcType=VARCHAR},
            #{cdate,jdbcType=DATE},
            #{week,jdbcType=INTEGER},
            #{code,jdbcType=VARCHAR},
            #{startTime,jdbcType=TIME},
            #{endTime,jdbcType=TIME},
            #{createTime,jdbcType=TIMESTAMP},
            #{lastUpdated,jdbcType=TIMESTAMP},
            #{mobile,jdbcType=VARCHAR},
            #{meetingPwd,jdbcType=VARCHAR},
            0,
            0,
            #{status,jdbcType=CHAR})
    </insert>

    <update id="changeStatus">
        UPDATE azbrain_user_consultation_log
        SET
            status = #{status,jdbcType=VARCHAR},
            last_updated = now()
        WHERE
            id = #{id,jdbcType=INTEGER}
    </update>

    <update id="userEvaluated">
        UPDATE azbrain_user_consultation_log
        SET
            user_evaluated = 1
        WHERE
            id = #{id,jdbcType=INTEGER}
    </update>

    <update id="byUserEvaluated">
        UPDATE azbrain_user_consultation_log
        SET
            by_user_evaluated = 1
        WHERE
            id = #{id,jdbcType=INTEGER}
    </update>

    <update id="edit" parameterType="com.blueocean.azbrain.vo.ConsultationLogVo">
        UPDATE
            azbrain_user_consultation_log
        SET
            cdate = #{cdate,jdbcType=DATE},
            start_time = #{startTime, jdbcType=TIME},
            end_time = #{endTime, jdbcType=TIME},
            way = #{way, jdbcType=VARCHAR},
            status = #{status, jdbcType=VARCHAR},
            mobile = #{mobile, jdbcType=VARCHAR},
            meeting_pwd = #{meetingPwd, jdbcType=VARCHAR},
            last_updated = #{lastUpdated, jdbcType=TIMESTAMP}
        WHERE
            id = #{id}
    </update>

    <!-- manager -->
    <select id="listConsultation" resultMap="BaseResultMap">
        SELECT
            l.id,
            l.user_id,
            u1.name as user_name,
            l.by_user_id,
            u2.name as by_user_name,
            l.way,
            l.mobile,
            l.meeting_pwd,
            l.cdate,
            l.start_time,
            l.end_time,
            l.user_evaluated,
            l.by_user_evaluated,
            l.create_time,
            l.status
        FROM
            azbrain_user_consultation_log l
        INNER JOIN
            azbrain_user u1
        ON
            l.user_id = u1.id
        INNER JOIN
            azbrain_user u2
        ON
            l.by_user_id = u2.id
        WHERE
            1=1
        <if test="status != null">
            <![CDATA[ AND l.status = #{status} ]]>
        </if>

        <if test="userEvaluated != null">
            <![CDATA[ AND l.user_evaluated = #{userEvaluated} ]]>
        </if>

        <if test="byUserEvaluated != null">
            <![CDATA[ AND l.by_user_evaluated = #{byUserEvaluated} ]]>
        </if>

        <if test="way != null">
            <![CDATA[ AND l.way = #{way} ]]>
        </if>

        <if test="uncompleted != null">
            <![CDATA[
            AND
                (l.user_evaluated = 0 OR l.by_user_evaluated = 0)
            AND
                l.status != ${@com.blueocean.azbrain.common.status.ConsultationStatus@REJECTED}
            AND
                l.status != ${@com.blueocean.azbrain.common.status.ConsultationStatus@CANCELED}
            ]]>
        </if>
        <if test="userName != null">
            <![CDATA[ AND u1.name LIKE CONCAT('%',#{userName},'%') ]]>
        </if>
        <if test="byUserName != null">
            <![CDATA[ AND u2.name LIKE CONCAT('%',#{byUserName},'%') ]]>
        </if>
        ORDER BY create_time DESC
    </select>


</mapper>