<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.azbrain.dao.ConsultationCommentMapper">
  <resultMap id="BaseResultMap" type="com.blueocean.azbrain.model.ConsultationComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log_id" jdbcType="INTEGER" property="logId" />
    <result column="break_contract" jdbcType="INTEGER" property="breakContract" />
    <result column="expertise_level" jdbcType="INTEGER" property="expertiseLevel" />
    <result column="attitude_level" jdbcType="INTEGER" property="attitudeLevel" />
    <result column="patience_level" jdbcType="INTEGER" property="patienceLevel" />
    <result column="articulation" jdbcType="INTEGER" property="articulation" />
    <result column="logical_clarity" jdbcType="INTEGER" property="logicalClarity" />
    <result column="punctuality" jdbcType="INTEGER" property="punctuality" />
    <result column="other" jdbcType="VARCHAR" property="other" />
  </resultMap>
  <sql id="Base_Column_List">
    id, log_id, break_contract, expertise_level, attitude_level, patience_level, articulation, 
    logical_clarity, punctuality, other
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from azbrain_user_consultation_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="get" parameterType="java.lang.Integer">
    delete from azbrain_user_consultation_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blueocean.azbrain.model.ConsultationComment">
    insert into azbrain_user_consultation_comment (id, log_id, break_contract, 
      expertise_level, attitude_level, patience_level, 
      articulation, logical_clarity, punctuality, 
      other)
    values (#{id,jdbcType=INTEGER}, #{logId,jdbcType=INTEGER}, #{breakContract,jdbcType=INTEGER}, 
      #{expertiseLevel,jdbcType=INTEGER}, #{attitudeLevel,jdbcType=INTEGER}, #{patienceLevel,jdbcType=INTEGER}, 
      #{articulation,jdbcType=INTEGER}, #{logicalClarity,jdbcType=INTEGER}, #{punctuality,jdbcType=INTEGER}, 
      #{other,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.blueocean.azbrain.model.ConsultationComment">
    update azbrain_user_consultation_comment
    set log_id = #{logId,jdbcType=INTEGER},
      break_contract = #{breakContract,jdbcType=INTEGER},
      expertise_level = #{expertiseLevel,jdbcType=INTEGER},
      attitude_level = #{attitudeLevel,jdbcType=INTEGER},
      patience_level = #{patienceLevel,jdbcType=INTEGER},
      articulation = #{articulation,jdbcType=INTEGER},
      logical_clarity = #{logicalClarity,jdbcType=INTEGER},
      punctuality = #{punctuality,jdbcType=INTEGER},
      other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>