<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.azbrain.dao.DictMapper">
  <resultMap id="dict" type="com.blueocean.azbrain.model.Dict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dtype" jdbcType="CHAR" property="dtype" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="label" type="com.blueocean.azbrain.model.Label">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="classify" jdbcType="VARCHAR" property="classify" />
    <result column="value_type" jdbcType="VARCHAR" property="valueType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <sql id="Dict_Column_List">
    id, dtype, code, value, remark
  </sql>

  <sql id="Label_Column_List">
    id, `code`, `name`, classify, value_type, remark, create_time,status
  </sql>

  <select id="get" parameterType="java.lang.Integer" resultMap="dict">
    select 
    <include refid="Dict_Column_List" />
    from azbrain_dict
    where
      id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.blueocean.azbrain.model.Dict">
    insert into azbrain_dict (
      id,
      dtype,
      `code`,
      `value`,
      remark)
    values (
      #{id,jdbcType=INTEGER},
      #{dtype,jdbcType=CHAR},
      #{code,jdbcType=VARCHAR},
      #{value,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.blueocean.azbrain.model.Label">
    update
      azbrain_evaluate_label
    set
      `name` = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where
      id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getLabel" parameterType="java.lang.Integer" resultMap="label">
    select
    <include refid="Label_Column_List" />
    from
      azbrain_evaluate_label
    where
      id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getLabelByName" resultMap="label">
    select
    <include refid="Label_Column_List" />
    from
      azbrain_evaluate_label
    where
      `name` = #{name}
    AND
      status = '00'
  </select>

  <insert id="insertLabel" parameterType="com.blueocean.azbrain.model.Label">
    insert into azbrain_evaluate_label (
      id,
      classify,
      code,
      `name`,
      value_type,
      remark,
      create_time,
      status)
    values (
      #{id,jdbcType=INTEGER},
      #{classify,jdbcType=CHAR},
      #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR},
      #{valueType,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=VARCHAR})
  </insert>

  <update id="changeStatus">
    UPDATE
      azbrain_evaluate_label
    SET
      status = #{status}
    WHERE
      id = #{id}
  </update>

  <select id="listLabel" resultMap="label">
    SELECT
    <include refid="Label_Column_List" />
    FROM
      azbrain_evaluate_label
    WHERE
      classify = #{classify}
    AND
      status != '99'
    AND
      value_type = 'star'
    <if test="name != null">
      AND name LIKE CONCAT('%',#{name},'%')
    </if>
    <if test="startTime != null">
      <![CDATA[ AND create_time >= #{startTime} ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[ AND create_time <= #{endTime} ]]>
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="maxCode" resultType="java.lang.String">
    SELECT
      max( code )
    FROM
      azbrain_evaluate_label
    WHERE
      classify = #{classify}
    AND
      code != #{code}
  </select>

  <insert id="insertEvent" parameterType="com.blueocean.azbrain.model.EventLog">
    insert into azbrain_event_log (
      id,
      `who`,
      content,
      `type`,
      `level`,
      event_id,
      duration,
      remark,
      create_time)
    values (
      #{id,jdbcType=INTEGER},
      #{who,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR},
      #{level,jdbcType=INTEGER},
      #{eventId,jdbcType=INTEGER},
      #{duration,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="listEvent" resultType="com.blueocean.azbrain.model.EventLog">
    SELECT
      id,
      `who`,
      content,
      `type`,
      `level`,
      event_id as eventId,
      duration,
      remark,
      create_time as createTime
    FROM
      azbrain_event_log
    WHERE
      `type` = #{type}
    <if test="startTime != null">
      <![CDATA[ AND create_time >= #{startTime} ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[ AND create_time <= #{endTime} ]]>
    </if>
    ORDER BY create_time DESC
  </select>
</mapper>