<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.azbrain.dao.SpecialistScoreLogMapper">
  <resultMap id="comment" type="com.blueocean.azbrain.model.SpecialistScoreLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log_id" jdbcType="INTEGER" property="logId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="by_user_id" jdbcType="INTEGER" property="byUserId" />
    <result column="break_contract" jdbcType="INTEGER" property="breakContract" />
    <result column="specialization" jdbcType="INTEGER" property="specialization" />
    <result column="attitude" jdbcType="INTEGER" property="attitude" />
    <result column="patience" jdbcType="INTEGER" property="patience" />
    <result column="articulation" jdbcType="INTEGER" property="articulation" />
    <result column="logical_clarity" jdbcType="INTEGER" property="logicalClarity" />
    <result column="punctuality" jdbcType="INTEGER" property="punctuality" />
    <result column="other" jdbcType="VARCHAR" property="other" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, log_id, user_id, by_user_id, break_contract, specialization, attitude, patience, articulation,
    logical_clarity, punctuality, other,create_time
  </sql>

  <select id="get" parameterType="java.lang.Integer" resultMap="comment">
    select 
    <include refid="Base_Column_List" />
    from
      azbrain_specialist_score_log
    where
      id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.blueocean.azbrain.model.SpecialistScoreLog">
    insert into azbrain_specialist_score_log(
      log_id,
      user_id,
      by_user_id,
      break_contract,
      specialization,
      attitude,
      patience,
      articulation,
      logical_clarity,
      punctuality,
      other,
      create_time)
    values (
      #{logId,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER},
      #{byUserId,jdbcType=INTEGER},
      #{breakContract,jdbcType=INTEGER},
      #{specialization,jdbcType=INTEGER},
      #{attitude,jdbcType=INTEGER},
      #{patience,jdbcType=INTEGER},
      #{articulation,jdbcType=INTEGER},
      #{logicalClarity,jdbcType=INTEGER},
      #{punctuality,jdbcType=INTEGER},
      #{other,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>