<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.azbrain.dao.UserMapper">
    <resultMap id="user" type="com.blueocean.azbrain.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="job_number" jdbcType="VARCHAR" property="jobNumber"/>
        <result column="user_type" jdbcType="CHAR" property="userType"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="business_unit" jdbcType="VARCHAR" property="businessUnit"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="likes_num" jdbcType="INTEGER" property="likesNum"/>
        <result column="favorite_num" jdbcType="INTEGER" property="favoriteNum"/>
        <result column="bad_num" jdbcType="INTEGER" property="badNum"/>
        <result column="neutral_num" jdbcType="INTEGER" property="neutralNum"/>
        <result column="good_num" jdbcType="INTEGER" property="goodNum"/>
        <result column="break_contract_num" jdbcType="INTEGER" property="breakContractNum"/>
        <result column="consulted_num" jdbcType="INTEGER" property="consultedNum"/>
        <result column="consult_num" jdbcType="INTEGER" property="consultNum"/>
        <result column="consult_duration" jdbcType="INTEGER" property="consultDuration"/>
        <result column="consulted_duration" jdbcType="INTEGER" property="consultedDuration"/>
        <result column="once_consultation_duration" jdbcType="INTEGER" property="onceConsultationDuration"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="consult_star" jdbcType="DECIMAL" property="consultStar"/>
        <result column="consulted_star" jdbcType="DECIMAL" property="consultedStar"/>

        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="login_flag" jdbcType="INTEGER" property="loginFlag"/>
        <result column="message_flag" jdbcType="INTEGER" property="messageFlag"/>

        <result column="business_unit" jdbcType="VARCHAR" property="businessUnit" />
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, pinyin, gender, password, job_number, user_type, photo, email, mobile, business_unit, remarks,
        likes_num, favorite_num, bad_num, good_num, neutral_num, break_contract_num, consulted_num, consult_num,
        consult_duration, consulted_duration, once_consultation_duration, consult_star, consulted_star,
        label, create_by, create_time, status
    </sql>

    <select id="get" resultMap="user" parameterType="int">
        SELECT *
        FROM
            azbrain_user
        WHERE
        id = #{id}
    </select>

    <insert id="newUser" parameterType="com.blueocean.azbrain.model.User">
        INSERT INTO azbrain_user(
            `name`,
            gender,
            mobile,
            photo,
            business_unit,
            job_number,
            user_type,
            consult_duration,
            create_time,
            create_by,
            status
        )
        VALUES(
            #{name},
            #{gender},
            #{mobile},
            #{photo},
            #{businessUnit},
            #{jobNumber},
            #{userType},
            0,
            #{createTime},
            #{createBy},
            '00'
        )
    </insert>

    <select id="findByPage" resultMap="user">
        SELECT id,
            name,
            gender,
            job_number,
            business_unit,
            photo,
            mobile,
            consult_num,
            consult_duration,
            likes_num,
            favorite_num,
            status,
            user_type,
            create_time
        FROM
            azbrain_user
        WHERE
            status != '99'
        AND
            1 = 1
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null">
            <![CDATA[ AND create_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ AND create_time <= #{endTime} ]]>
        </if>
        <if test="keycode != null">
            AND job_number LIKE CONCAT('%',#{keycode},'%')
        </if>
        ORDER BY id DESC
    </select>

    <select id="list" resultMap="user">
        SELECT *
        FROM
            azbrain_user
        WHERE
            status = '00'
    </select>

    <select id="getUserByName" resultMap="user" parameterType="java.lang.String">
        SELECT * FROM azbrain_user
        WHERE
            name = #{name}
    </select>

    <select id="getUserByKCode" resultMap="user" parameterType="java.lang.String">
        SELECT
            id,
            name,
            user_type,
            login_flag,
            message_flag,
            mobile
        FROM
            azbrain_user
        WHERE
            job_number = #{kcode}
    </select>

    <select id="searchSpecialist" resultMap="user" parameterType="com.blueocean.azbrain.vo.SpecialistVo">
        SELECT
            distinct u.id,
            u.photo,
            u.name,
            u.label,
            u.consulted_star,
            u.consulted_num,
            u.consulted_duration
        FROM
            azbrain_user u
        LEFT JOIN azbrain_user_specialist_label s ON u.id = s.user_id
        LEFT JOIN azbrain_user_consultation_way c ON u.id = c.user_id
        WHERE
            u.status = '00'
        AND
            u.user_type = '10'
        <if test="label != null">
            <![CDATA[
                AND s.label_code IN (${label})
            ]]>
        </if>
        <if test="way != null">
            <![CDATA[ AND c.way = #{way} ]]>
        </if>
        <if test="bad != null">
            <![CDATA[ AND u.bad_num = 0 ]]>
        </if>
        <if test="contract != null">
            <![CDATA[ AND u.break_contract_num = 0 ]]>
        </if>
    </select>

    <select id="userAvgScore" resultType="java.util.Map">
        SELECT
            evaluate_code AS `code`,
            evaluate_name AS `name`,
            ROUND( AVG( CAST( evaluate_value AS SIGNED ) ), 1 ) AS `value`
        FROM
            azbrain_user_evaluate
        WHERE
            by_user_id = #{userId}
        AND evaluate_value_type = "star"
        AND by_user_flag = 0
        GROUP BY
            evaluate_code,
            evaluate_name
    </select>

    <select id="byUserAvgScore" resultType="java.util.Map">
        SELECT
            evaluate_code AS `code`,
            evaluate_name AS `name`,
            ROUND( AVG( CAST( evaluate_value AS SIGNED ) ), 1 ) AS `value`
        FROM
            azbrain_user_evaluate
        WHERE
            by_user_id = #{userId}
        AND evaluate_value_type = "star"
        AND by_user_flag = 1
        GROUP BY
            evaluate_code,
            evaluate_name
    </select>

    <!--
    <select id="appointmentTime" resultType="java.util.Map">
        SELECT
            week,
            code
        FROM
            azbrain_user_appointment_time
        WHERE
            user_id = #{userId}
    </select>
-->
    <select id="consultWay" resultType="java.util.Map">
        SELECT
            way
        FROM
            azbrain_user_consultation_way
        WHERE
            user_id = #{userId}
    </select>

    <select id="specialistLabels" resultType="java.util.Map">
        SELECT
            label_code as code,
            label_name as name
        FROM
            azbrain_user_specialist_label
        WHERE
            user_id = #{userId}
    </select>

    <select id="selectpecialistLabels" resultType="java.util.Map">
        SELECT
            l.CODE AS CODE,
            l.NAME AS NAME,
            CASE WHEN ul.label_code IS NULL THEN 0 ELSE 1 END AS selected
        FROM
            azbrain_evaluate_label l
        LEFT JOIN azbrain_user_specialist_label ul ON l.CODE = ul.label_code
            AND ul.user_id = #{userId}
        WHERE
            l.classify = 'specialist'
    </select>

    <select id="listUserPoints" resultType="com.blueocean.azbrain.model.UserPoints">
        SELECT
            id,
            user_id as userId,
            log_id as logId,
            point,
            create_time as createTime,
            remark
        FROM
            azbrain_user_points
        WHERE
            user_id = #{userId}
    </select>

    <select id="myPoint" resultType="java.lang.Integer">
        SELECT
            SUM(point)
        FROM
            azbrain_user_points
        WHERE
            user_id = #{userId}
    </select>

    <insert id="insertPoints" parameterType="com.blueocean.azbrain.model.UserPoints">
        INSERT INTO azbrain_user_points(
            user_id,
            log_id,
            point,
            create_time,
            remark)
        VALUES(
            #{userId},
            #{logId},
            #{point},
            #{createTime},
            #{remark}
        )
    </insert>

    <select id="topicSpecialists" resultMap="user">
        SELECT
            u.id,
            u.photo,
            u.name,
            u.label,
            u.consulted_star,
            u.consulted_num,
            u.consulted_duration
        FROM
            azbrain_user u
        INNER JOIN
            azbrain_topic_specialist s
        ON
            u.id = s.user_id
        WHERE
            s.topic_id = #{topicId,jdbcType=INTEGER}
        AND
            u.status = '00'
        ORDER BY consulted_num DESC
    </select>

    <update id="incrConsultation">
        UPDATE
            azbrain_user
        SET
        <if test="byUser">
            consulted_num = consulted_num + 1,
            consulted_duration = consulted_duration + #{duration,jdbcType=INTEGER}
        </if>

        <if test="!byUser">
            consult_num = consult_num + 1,
            consult_duration = consult_duration + #{duration,jdbcType=INTEGER}
        </if>
        WHERE
            id = #{userId,jdbcType=INTEGER}
    </update>

    <update id="updateContractAndLevel">
        UPDATE
            azbrain_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="contract">
                break_contract_num = break_contract_num + 1,
            </if>

            <if test="level == 1">
                good_num = good_num + 1,
            </if>

            <if test="level == -1">
                bad_num = bad_num + 1,
            </if>

            <if test="level == 0">
                neutral_num = neutral_num + 1,
            </if>
        </trim>
        WHERE
            id = #{userId,jdbcType=INTEGER}
    </update>

    <!-- manager -->
    <update id="changeStatus">
        UPDATE azbrain_user
        SET
            status = #{status}
        WHERE
            id = #{userId}
    </update>

    <update id="edit" parameterType="com.blueocean.azbrain.vo.UserVo">
        UPDATE
            azbrain_user
        SET
            `name` = #{name},
            gender = #{gender},
            job_number = #{jobNumber},
            photo = #{photo},
            mobile = #{mobile},
            business_unit = #{businessUnit}
        WHERE
            id = #{id}
    </update>

    <select id="viewUser"  resultMap="user">
        SELECT
            id,
            `name`,
            pinyin,
            gender,
            job_number,
            photo,
            email,
            mobile,
            business_unit,
            status
        FROM
            azbrain_user
        WHERE
            id = #{userId}
    </select>

    <select id="viewSpecialist" resultMap="user">
        SELECT
            id,
            name,
            job_number,
            once_consultation_duration,
            status
        FROM
            azbrain_user
        WHERE
            id = #{userId}
    </select>

    <select id="listSpecialist" resultMap="user">
        SELECT id,
            `name`,
            gender,
            job_number,
            business_unit,
            photo,
            mobile,
            consulted_num,
            consulted_duration,
            once_consultation_duration,
            status,
            create_time
        FROM
            azbrain_user
        WHERE
            status != '99'
        AND
            user_type = '10'
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null">
            <![CDATA[ AND create_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ AND create_time <= #{endTime} ]]>
        </if>
        <if test="keycode != null">
            AND job_number LIKE CONCAT('%',#{keycode},'%')
        </if>
        ORDER BY id DESC
    </select>

<!--
    <insert id="insertUserAppointmentTime">
        DELETE FROM azbrain_user_appointment_time
        WHERE
            user_id = #{userId}
        ;
        INSERT INTO azbrain_user_appointment_time(
            user_id,
            week,
            code)
        VALUES
        <foreach collection ="times" item="t" separator =",">
        (
            #{userId},
            #{t.week},
            #{t.code})
        </foreach>
        ;
    </insert>
-->
    <insert id="insertUserConsultationWay">
        DELETE FROM azbrain_user_consultation_way
        WHERE
            user_id = #{userId}
        ;
        INSERT INTO azbrain_user_consultation_way(
            user_id,
            way)
        VALUES
        <foreach collection ="ways" item="w" separator =",">
        (
            #{userId},
            #{w.way}
        )
        </foreach>
        ;
    </insert>

    <insert id="insertSpecialistLabel">
        DELETE FROM
            azbrain_user_specialist_label
        WHERE
            user_id = #{userId}
        ;
        INSERT INTO azbrain_user_specialist_label(
            user_id,
            label_code,
            label_name)
        VALUES
        <foreach collection ="labels" item="l" separator =",">
        (
            #{userId},
            #{l.code},
            #{l.name}
        )
        </foreach>
        ;
        UPDATE azbrain_user
        SET
            user_type = '10',
            label = #{label},
            once_consultation_duration = #{duration}
        WHERE
            id = #{userId}
    </insert>

    <select id="findSpecialistByKey" resultMap="user">
        SELECT
            id,
            `name`,
            mobile
        FROM
            azbrain_user
        WHERE
            status = '00'
        AND
            user_type = '10'
        AND (
            name LIKE CONCAT('%',#{key},'%')
        OR
            mobile = #{key}
            )
        LIMIT 10
    </select>

    <select id="getUserStatus" resultType="java.lang.String">
        SELECT status
        FROM
            azbrain_user
        WHERE
            id = #{userId}
    </select>

    <select id="searchTopicSpecialists" resultMap="user">
        SELECT
            u.id,
            u.photo,
            u.name,
            u.label,
            u.consulted_star,
            u.consulted_num,
            u.consulted_duration
        FROM
            azbrain_user u
        INNER JOIN
            azbrain_topic_specialist s
        ON
            u.id = s.user_id
        WHERE
            s.topic_id = #{topicId,jdbcType=INTEGER}
        AND
            u.status = '00'
        <if test="name != null">
            AND u.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null">
            <![CDATA[ AND u.create_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ AND u.create_time <= #{endTime} ]]>
        </if>
        ORDER BY consulted_num DESC
    </select>

    <select id="findSpecialistByLabel" resultMap="user">
        SELECT
            distinct u.id,
            u.name,
            u.job_number,
            u.business_unit
        FROM
            azbrain_user u
        INNER JOIN
            azbrain_user_specialist_label s
        ON
            u.id = s.user_id
        WHERE
            u.status = '00'
        AND
            s.label_code IN
        <foreach item="item" index="index" collection="labels" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateLogin">
        UPDATE
            azbrain_user
        SET
            login_flag = 0
        WHERE
            id = #{userId}
    </update>

    <insert id="changeSpecialistLabel">
        DELETE FROM
            azbrain_user_specialist_label
        WHERE
            user_id = #{userId}
        ;
        INSERT INTO azbrain_user_specialist_label(
            user_id,
            label_code,
            label_name)
        VALUES
        <foreach collection ="labels" item="l" separator =",">
            (
                #{userId},
                #{l.code},
                #{l.name}
            )
        </foreach>
        ;
        UPDATE azbrain_user
        SET
            label = #{label}
        WHERE
            id = #{userId}
        ;
    </insert>

    <update id="notify">
        UPDATE azbrain_user
        SET
            message_flag = 1
        WHERE
            id = #{userId}
    </update>

    <update id="unNotify">
        UPDATE azbrain_user
        SET
            message_flag = 0
        WHERE
            id = #{userId}
    </update>

    <update id="chageConsultedStar">
        UPDATE azbrain_user
        SET consulted_star = (consulted_star + #{star} ) / 2
        WHERE
            id = #{userId}
        AND
            consulted_star > 0
        ;
        UPDATE azbrain_user
        SET consulted_star = #{star}
        WHERE
            id = #{userId}
        AND
            consulted_star = 0
        ;
    </update>

    <update id="chageConsultStar">
        UPDATE azbrain_user
        SET consult_star = (consult_star + #{star} ) / 2
        WHERE
            id = #{userId}
        AND
            consult_star > 0
        ;
        UPDATE azbrain_user
        SET consult_star = #{star}
        WHERE
            id = #{userId}
        AND
            consult_star = 0
        ;
    </update>

    <select id="getKCode" resultType="java.lang.String">
        SELECT job_number FROM azbrain_user WHERE id=#{userId} AND status = '00'
    </select>
</mapper>