<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueocean.azbrain.dao.UserMapper">
    <resultMap id="user" type="com.blueocean.azbrain.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="job_number" jdbcType="VARCHAR" property="jobNumber"/>
        <result column="user_type" jdbcType="CHAR" property="userType"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="likes_num" jdbcType="INTEGER" property="likesNum"/>
        <result column="favorite_num" jdbcType="INTEGER" property="favoriteNum"/>
        <result column="bad_num" jdbcType="INTEGER" property="badNum"/>
        <result column="good_num" jdbcType="INTEGER" property="goodNum"/>
        <result column="break_contract_num" jdbcType="INTEGER" property="breakContractNum"/>
        <result column="consulted_num" jdbcType="INTEGER" property="consultedNum"/>
        <result column="consult_num" jdbcType="INTEGER" property="consultNum"/>
        <result column="consult_duration" jdbcType="INTEGER" property="consultDuration"/>
        <result column="consulted_duration" jdbcType="INTEGER" property="consultedDuration"/>
        <result column="once_consultation_duration" jdbcType="INTEGER" property="onceConsultationDuration"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="consult_star" jdbcType="DECIMAL" property="consultStar"/>
        <result column="consulted_star" jdbcType="DECIMAL" property="consultedStar"/>

        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="CHAR" property="status"/>

        <result column="business_unit" jdbcType="VARCHAR" property="businessUnit" />
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, login_name, password, job_number, user_type, photo, email, mobile, remarks,
        likes_num, favorite_num, bad_num, good_num, break_contract_num, consulted_num, consult_num,
        consult_duration, consulted_duration, once_consultation_duration, consult_star, consulted_star,
        label, create_by, create_time, status
    </sql>

    <select id="get" resultMap="user" parameterType="int">
        SELECT * FROM azbrain_user
        WHERE
        id = #{id}
    </select>

    <select id="findByPage" resultMap="user">
        SELECT * FROM azbrain_user
        WHERE
            status != '99'
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null">
            <![CDATA[ AND create_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ AND create_time <= #{endTime} ]]>
        </if>
        <if test="kcode != null">
            AND job_number LIKE CONCAT('%',#{kcode},'%')
        </if>
        ORDER BY id DESC
    </select>

    <select id="list" resultMap="user">
        SELECT *
        FROM
            azbrain_user
        WHERE
            status = '00'
    </select>

    <select id="getUserByName" resultMap="user" parameterType="java.lang.String">
        SELECT * FROM azbrain_user
        WHERE
            login_name = #{name}
    </select>

    <select id="searchSpecialist" resultMap="user" parameterType="com.blueocean.azbrain.vo.SpecialistVo">
        SELECT
            u.id,
            u.photo,
            u.name,
            u.label,
            u.consulted_star,
            u.consulted_num,
            u.consulted_duration
        FROM
            azbrain_user u
        LEFT JOIN azbrain_user_specialist_label s ON u.id = s.user_id
        LEFT JOIN azbrain_user_appointment_time t ON u.id = t.user_id
        LEFT JOIN azbrain_user_consultation_way c ON u.id = c.user_id
        WHERE
            u.status = '00'
        <if test="label != null">
            <![CDATA[ AND s.label_code = #{label} ]]>
        </if>
        <if test="week != null">
            <![CDATA[ AND t.week = #{week} ]]>
        </if>
        <if test="timeline != null">
            <![CDATA[ AND t.code = #{timeline} ]]>
        </if>
        <if test="way != null">
            <![CDATA[ AND c.way = #{way} ]]>
        </if>
        <if test="bad != null">
            <![CDATA[ AND u.bad_num = 0 ]]>
        </if>
        <if test="contract != null">
            <![CDATA[ AND u.break_contract_num = 0 ]]>
        </if>
        <if test="duration != null">
            <![CDATA[ AND u.once_consultation_duration >= #{duration} ]]>
        </if>
        ORDER BY u.create_time DESC
    </select>

    <select id="userAvgScore" resultType="java.util.Map">
        SELECT
            avg(attitude) as attitude,
            avg(polite) as polite,
            avg(punctuality) as punctuality
        FROM
            azbrain_user_score_log
        WHERE
            user_id = #{userId}
    </select>

    <select id="specialistAvgScore" resultType="java.util.Map">
        SELECT
            avg(specialization) as specialization,
            avg(attitude) as attitude,
            avg(patience) as patience,
            avg(articulation) as articulation,
            avg(logical_clarity) as logical,
            avg(punctuality) as punctuality
        FROM
            azbrain_specialist_score_log
        WHERE
            user_id = #{userId}
    </select>

    <select id="appointmentTime" resultType="java.util.Map">
        SELECT
            week,
            code
        FROM
            azbrain_user_appointment_time
        WHERE
            user_id = #{userId}
    </select>

    <select id="consultWay" resultType="java.util.Map">
        SELECT
            way
        FROM
            azbrain_user_consultation_way
        WHERE
            user_id = #{userId}
    </select>

    <select id="listUserPoints" resultType="com.blueocean.azbrain.model.UserPoints">
        SELECT
            user_id as userId,
            log_id as logId,
            point,
            create_time as createTime
        FROM
            azbrain_user_points
        WHERE
            user_id = #{userId}
    </select>

    <select id="topicSpecialists" resultMap="user">
        SELECT
            u.id,
            u.photo,
            u.name,
            u.label,
            u.consulted_star,
            u.consulted_num,
            u.consulted_duration
        FROM
            azbrain_user u
        INNER JOIN
            azbrain_topic_specialist s
        ON
            u.id = s.user_id
        WHERE
            s.topic_id = #{topicId,jdbcType=INTEGER}
        AND
            u.status = '00'
        ORDER BY consulted_num DESC
    </select>
</mapper>